<div class = "layout-wrapper">

    <div class = "book-container">
        <div class = "book-background">
            <img src = "../../assets/Books/book1.jpeg" alt="Book Image" class = "book-image" >
        </div>
        <div class = "book-info">
            <h2 class = "book-title">Percy Jackson Camp-HalfBlood</h2>
            <p class="author-name" > Rick Riordan</p>
            <p class = "book-price"> Rs 270</p>
            <div class = "button-container">
                <button class = "btn-add-to-cart">Add to Cart</button>
                <button class = "btn-wishlist"> Wishlist </button>
            </div>
        </div>
    </div>

    <div class = "book-container">
        <div class = "book-background">
            <img src = "../../assets/Books/book2.jpeg" alt = "Book Images" class = "book-image">
        </div>

        <div class = "book-info">
            <h2 class = "book-title">Percy Jackson Greek-Gods</h2>
            <p class="author-name" > Rick Riordan</p>
            <p class = "book-price"> Rs 230</p>
            <div class = "button-container">
                <button class = "btn-add-to-cart">Add to Cart</button>
                <button class = "btn-wishlist"> Wishlist </button>
            </div>    
        </div>
    </div> 

    <div class = "book-container">
        <div class = "book-background">
            <img src = "../../assets/Books/book3.jpeg" alt = "Book Images" class = "book-image">
        </div>

        <div class = "book-info">
            <h2 class = "book-title">Trials of apollo</h2>
            <p class="author-name" > Rick Riordan</p>
            <p class = "book-price"> Rs 290</p>
            <div class = "button-container">
                <button class = "btn-add-to-cart">Add to Cart</button>
                <button class = "btn-wishlist"> Wishlist </button>
            </div>    
        </div>
    </div> 

    <div class = "book-container">
        <div class = "book-background">
            <img src = "../../assets/Books/book4.jpeg" alt = "Book Images" class = "book-image">
        </div>

        <div class = "book-info">
            <h2 class = "book-title">Broken Dove</h2>
            <p class="author-name" > Kristen Ashley</p>
            <p class = "book-price"> Rs 370</p>
            <div class = "button-container">
                <button class = "btn-add-to-cart">Add to Cart</button>
                <button class = "btn-wishlist"> Wishlist </button>
            </div>    
        </div>
    </div> 

    <!-- FOr more books -->

    <div class = "book-container">
        <div class = "book-background">
            <img src = "../../assets/Books/book1.jpeg" alt="Book Image" class = "book-image" >
        </div>
        <div class = "book-info">
            <h2 class = "book-title">Percy Jackson Camp-HalfBlood</h2>
            <p class="author-name" > Rick Riordan</p>
            <p class = "book-price"> Rs 270</p>
            <div class = "button-container">
                <button class = "btn-add-to-cart">Add to Cart</button>
                <button class = "btn-wishlist"> Wishlist </button>
            </div>
        </div>
    </div>

</div>
