<app-header> </app-header>
<div class = "cart-container">

<div class = "cart-body">

<div class = "cart-container-style">
    <div class = "cart-text"><b>My Cart</b> </div>

    <div class = "book-image-info">
        <img src = "../../assets/Books/book3.jpeg" class = "book-image">
        <div class = "book-info">
            <h2 class = "book-title">Trials of apollo</h2>
            <p class="author-name" > Rick Riordan</p>
            <p class = "book-price"> Rs 290</p>
        </div>
    </div>

    <div class = "add-remove-icons">
        
    </div>
</div>
</div>
<app-footer></app-footer>